<div class="container">
  <div class="text-center mb-2">
    <h3>お問い合わせフォーム</h3>
  </div>
  <div class="formgroup">
      <%= form_with model: @contact, url: confirm_contacts_path, class: 'new_contact', local: true do |f| %>
        <%= render "public/shared/error_messages", resource: @contact %>

          <div class="row mb-2">
            <div class="col-sm-3 col-5 text-left pl-2">
              <p>お名前</p>
            </div>
            <div class="col-sm-7 col-5 text-left px-0">
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-sm-3 col-5 text-left pl-2">
              <p>お問い合わせ内容</p>
            </div>
            <div class="col-sm-7 col-5 text-left px-0">
              <%= f.text_area :content, autofocus: true, placeholder: "お問い合わせ内容を入力してください", rows: "5", class: "form-control" %>
            </div>
          </div>

        <div class="actions">
          <%= f.submit "確認画面へ" ,class: 'btn btn_orange rounded-pill w-50 m-auto my-2' %>
        </div>
      <% end %>
  </div>
</div>