<div class="container">
  <div class="row p-1">
    <h3>キャンプ場詳細</h3>
  </div>
  <div class="row p-1">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <h3 class="name">
        <%= @campground.name %>
      </h3>
      syashinn

      <% if @campground.favorited_by?(current_user) %>
        <%= link_to campground_favorites_path(@campground), method: :delete do %>
          <i class="fas fa-bookmark"></i>
        <% end %>
      <% else %>
        <%= link_to campground_favorites_path(@campground), method: :post do %>
          <i class="far fa-bookmark"></i>
        <% end %>
      <% end %>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>キャンプ場名</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.name %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>タグ</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <% @campground_tags.each do |tag| %>
            <i class="fas fa-tag"><%= tag.tag_name %></i>
          <% end %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>説明</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.description %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>住所</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.address %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>電話番号</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.phone_number %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>営業時間</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.business_hours %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>チェックイン</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.check_in %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>チェックアウト</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.check_out %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>最寄り駅</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.station_line %>線
          <%= @campground.station_name %>駅
      徒歩<%= @campground.station_walk %>分
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>最寄りバス停</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.busstop_line %>
          <%= @campground.busstop_name %>バス停
      徒歩<%= @campground.busstop_walk %>分
        </div>
      </div>
    </div>
  </div>
  <div class="row p-1">
    <div class="col-sm-12 col-8">
      <h3>レビュー</h3>
      <%# if user_signed_in? %>
      <!--URLにキャンプ場IDを仕込んで送る-->
      <%= link_to "レビューを投稿する", new_review_path(campground_id: @campground.id), class: "btn btn-success mt-2" %>
      <%# end %>
    </div>
  </div>

  <% @reviews.each do |review| %>
    <div class="row mb-2">
      <div class="col-sm-12 col-md-8">
        <div class="card shadow bg-white rounded my-2">
          <div class="row mb-2">
            <div class="col-sm-6 col-md-3 ml-1">
              <h5><%= review.title %></h5>
              <!--JavaScript呼び出し-->
              <div id="star-rate<%= review.id %>"></div>
              <p><%= review.star %> / 5.0</p>
              <p><%= review.user.name %> さん</p>
            </div>
            <div class="col-sm-6 col-md-5">
              <p><%= review.body %></p>
            </div>

            <script>

            let elem = document.querySelector('#star-rate<%= review.id %>');
            let opt = {

              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',

              readOnly: true,
              score: <%= review.star %>,
              half: false,
            };
            raty(elem, opt);

            </script>
          </div>
         </div>
      </div>
    </div>
  <% end %>
</div>