<div class="container">
  <div class="text-center p-1">
    <h3>レビュー投稿</h3>
  </div>
  <%= render "public/shared/error_messages", resource: @review %>
  <div class="row">
    <div class="col-md-8">
      <%= form_with model: @review, url: reviews_path, class: 'new_review', local: true do |f| %>
        <div class="form-group row mb-2">
          <div class="col-sm-3 col-5 text-left pl-2">
            <p>タイトル</p>
          </div>
          <div class="col-sm-7 col-5 text-left px-0">
            <%= f.text_field :title, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="col-sm-3 col-5 text-left pl-2">
            <p>本文</p>
          </div>
          <div class="col-sm-7 col-5 text-left px-0">
            <%= f.text_area :body, id: "result-div", autofocus: true, rows: "4", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row" id = "star">
          <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
          <%= f.hidden_field :star, id: :review_star %>
          <div id="post_raty"></div>
        </div>
        <%= f.hidden_field :campground_id, :value => params[:campground_id] %>

        <div class="actions">
          <%= f.submit "投稿" ,class: 'btn btn_orange rounded-pill w-50 m-auto my-2' %>
        </div>

        <!--retyを用いたjavascript-->
        <script>

        let elem = document.querySelector('#post_raty');
        let opt = {

          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',

          scoreName: 'review[star]',
          half: false,
        };
        raty(elem, opt);

        // Web speech APIを用いた音声入力
        window.addEventListener('load', function(){
        const startBtn = document.querySelector('#start-btn');
        const resultDiv = document.getElementById("result-div");
        const stopBtn = document.querySelector('#stop-btn');

        SpeechRecognition = webkitSpeechRecognition || SpeechRecognition;
        let recognition = new SpeechRecognition();
        recognition.lang = 'ja-JP';
        recognition.interimResults = true;
        recognition.continuous = true;
        recognition.onresult = (event) => {
          console.log(event);
          const interimTranscript = event.results[0][0].transcript;

          resultDiv.value =  interimTranscript ;
        }
        startBtn.addEventListener('click', function(){
         recognition.start();
        })

        stopBtn.addEventListener('click', function(){
         recognition.stop();
        })

        })

        </script>
      <% end %>
    </div>
    <div class="col-sm-3 col-5 text-left pl-2">
      <p class="mt-3">音声認識で入力できます<br>（chromeのみ対応）</p>
      <button id="start-btn", class= "btn btn_water my-2", style="height: 50px; width: 100px;">start</button>
      <button id="stop-btn", class= "btn btn_orange my-2", style="height: 50px; width: 100px;">stop</button>
    </div>
  </div>
</div>