<div class="container">
  <div class="text-center p-1">
    <h3>キャンプ場一覧</h3>
    <%= link_to "+ キャンプ場新規作成",new_admin_campground_path, class: 'btn btn_orange rounded-pill w-50 m-auto my-2' %>
  </div>
  <div class="row mb-2">
    <div class="col-md-10">
      <table class="table table-hover table-light table-borderless">
        <thead>
            <tr>
              <th>キャンプ場名</th>
              <th>住所</th>
              <th>タグ</th>
              <th>レビュー件数</th>
              <th>承認ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @campgrounds.each do |campground| %>
            <tr>
              <td><%= link_to "#{campground.name}", admin_campground_path(campground.id) %></td>
              <td><%= campground.address %></td>
              <td>
                <i class="fas fa-tag"><%= campground.tags.map(&:tag_name).join(', ') %></i>
              </td>
              <td><%= "レビュー：#{campground.reviews.count}件" %></td>
              <td><%= campground.is_confirmed_i18n %></td>
            </tr>
            <% end %>
            <%= paginate @campgrounds %>
        </tbody>
      </table>
    </div>
  </div>
</div>