<div class="container">
  <div class="row p-1">
    <h3>キャンプ場詳細</h3>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= link_to "編集する", edit_admin_campground_path(@campground.id), class: "btn btn-success" %>
      <%= link_to "削除する", admin_campground_path(@campground.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>承認ステータス</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.is_confirmed_i18n %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>キャンプ場名</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.name %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>タグ</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <% @campground_tags.each do |tag| %>
            <i class="fas fa-tag"><%= tag.tag_name %></i>
          <% end %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>説明</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.description %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>住所</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.address %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>電話番号</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.phone_number %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>営業時間</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.business_hours %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>チェックイン</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.check_in %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>チェックアウト</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.check_out %>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>最寄り駅</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.station_line %>線
          <%= @campground.station_name %>駅
      徒歩<%= @campground.station_walk %>分
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-3 col-5 text-left pl-2">
          <p>最寄りバス停</p>
        </div>
        <div class="col-sm-7 col-5 text-left px-0">
          <%= @campground.busstop_line %>
          <%= @campground.busstop_name %>バス停
      徒歩<%= @campground.busstop_walk %>分
        </div>
      </div>

    </div>
    <div class="col-md-2 mx-auto">
      <%= link_to campground_path(@campground) do %>
        <%= image_tag @campground.get_image(350, 350) %>
      <% end %>
    </div>
  </div>
</div>